/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  display: block;
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #84B15B;
  min-width: 320px;
}

/*h1{
        margin: 30px 0;
        padding: 0 200px 15px 0;
        border-bottom: 1px solid #E5E5E5;
    }*/

    footer a
{
  color:#084C59!important;
}

footer a:hover
{
  color:#002228!important;
}

#footer
{
margin-bottom: 10px!important;
}

.link a
{
  color:#084C59!important;
}

.link a:hover
{
  color:#002228!important;
}

.jumbotron 
{
  padding-top: 70px!important;
  padding-bottom: 10px!important;
  background:#ccc; /*#659D32;*/
  border-bottom:2px solid #FFF;
}

.btn-primary 
{
  color: #000!important;
  background-color: #eee!important;
  border-color: #777!important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary 
{
  color: #000 !important;
  background-color: #bbb!important;
  border-color: #555!important;
}

#formbackground
{
  border:1px solid #666;
  padding:20px;
  background-color:rgba(242,241,241,0.20);
}

.size
  {
    min-width:86px;
  }

.size2
  {
    min-width:100px;
    padding-right:5px!important;
  }

  .featurette-image 
  {
    margin-top:50px;
  }
/*

.bs-example{
	  
	  padding-top: 60px;
      margin: 20px;
	  max-width: 900px;
      margin: 0 auto;

	  
}
.form-horizontal {
	background-color: #cccccc;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    text-align: center;
	padding-right: 30px;
	padding-top: 30px;
}*/ 
.cards{ 	
	padding-bottom: 10px;
  width:80%;
	}
.img1{
	margin-top: 110px;
	}
.img2{
	margin-top: 110px;
	}
.img3{
	margin-top: 110px;
	}
.img4{
	margin-top: 110px;
	} 
  /* 
.order{
	display: block;
	background-color: #ccc;
	padding-top: 10px;
	}*/

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 19px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #A6A6A6;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

