body
{
	background-color: #84B15B;
}

.featurette-divider 
{
	border-color: #333;
}



.panel-heading
{
	background-color: #ddd!important;
}

#formbackground
{
  border:1px solid #666;
  padding:0px 30px 10px;
  background-color:rgba(242,241,241,0.20);
  float:left;
  min-width:50%;
}

#info
{
	float:right;
	min-width:50%;
	text-align: right;
}

table
{
	width:80%!important;
	float:right;
}

td 
{
	text-align: left;
}

@media (max-width: 980px) 
{

#formbackground
{
	clear:right;
	min-width:99%;
}

#info
{
	text-align: left;
	min-width:99%;

}
table
{
	float:none;
}
	}