body 
{
  min-width: 320px;
}

.btn-primary 
{
  color: #000!important;
  background-color: #eee!important;
  border-color: #777!important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary 
{
  color: #000 !important;
  background-color: #bbb!important;
  border-color: #555!important;
}

#footer
{
margin-bottom: 10px!important;
}

footer
{
	font-size: 80%!important;
}

footer a
{
	color:#084C59!important;
}

footer a:hover
{
	color:#002228!important;
}

.lead a
{
  color:#084C59!important;
}

.lead a:hover
{
  color:#002228!important;
}

a.newlink
{
	color:#084C59!important;
}

a.newlink:hover
{
	color:#002228!important;
}

a[href^=tel]
{
    color:inherit;
    text-decoration: none;
}

.featurette-heading
{
	margin-top:10px!important;
}

.jumbotron 
{
  padding-top: 70px!important;
  padding-bottom: 10px!important;
  background:#ccc; /*#659D32;*/
  border-bottom:2px solid #FFF;
}

.carousel-inner
{
	border-bottom:2px solid #FFF;
}

.panel-heading
{
  background-color:#ccc!important;
}

p.jumbotron
{
  font-size: .7em!important;
}

#myCarousel img.logo
{
  max-width:50%!important;
  min-width:300px!important;
  height:auto;
  position:relative;
  top:25%;
  margin:0px auto;
  z-index: 2;
}

#myCarousel img.numbers
{
  position:absolute;
  z-index: 0;
}
.carousel .item
{
  background-color:#FFF!important;
}

.carousel .item p 
{
  color:#555!important;
}

.carousel .item h1
{
  color:#333!important;
}


.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .0001) 100%)!important;
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .0001) 100%)!important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .0001)))!important;
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .0001) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)!important;
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .2) 100%)!important;
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .2) 100%)!important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .2)))!important;
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .2) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)!important;
  background-repeat: repeat-x;
}
